[Unit]
Description=Blue light reduction at night
After=graphical.target

[Timer]
OnCalendar=*-*-* 22:00:00
Persistent=true

[Install]
WantedBy=timers.target
